*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
    background-image: url(./images/Background-image.png);
    background-position: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: flex;
}
.into{
text-align: center;
padding-top: 200px;
}
h1{
    color: #fff;
    font-size: 40px
}
p{
    color:white;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: wheat;
}
button.btn{
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4681f4;
}
.last-tour h1{
    color: black;
    text-align: center;
}
.place1{
    margin: 20px;
    display: inline-block;
    margin-left: 100px;
    
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(103, 103, 159);
}
.place1 h4{
    font-size: 20px;
    
}
.place1 img{
    width: 310px;
}
.new-travel h1{
    color: black;
    text-align: center;
}
.place2{
    margin: 20px;
    display: inline-block;
    margin-left: 100px;
    border-radius: 10px;
    box-shadow:  10px 10px 10px rgb(103, 103, 159)
    ;
    
}
.place2 img{
    width: 310px;
}
.place2 h4{
    font-size: 20px;
}
.about p{
    font-size: 20px;
    color:gray;
    text-align: center;
}
.container{
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(130, 106, 251);
}
.from-container{
    position: relative;
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgb(0, 0, 0, 0.1);
}